html, body {
	height: 100%;
}

body {
	font-family: 'Patrick Hand SC', cursive;
	width: 100%;
	height: 100%;
/*	overflow: hidden;
*/}

/*ALL*/
.section-padding {
	padding-left: 32px;
}
.section-padding h2 {
	color: red;
	font-size: 30px
}
.section-padding h3 {
	color: red;
	font-size: 30px
}
.section-padding h4 {
	color: red;
	font-size: 40px
	margin-top: -30px;
}

/*INDEX PAGE*/

.page-background {
	background: url(../images/index/homepage/jigsawPuzzle.jpeg) no-repeat;
	background-size: 100% 100%;
	padding: 20px 20px;
	height: 95%;
	width: 95%;
	margin-top: 10px;
}
.page-wrap {
	background-color: white;
	/*margin: 0 auto;*/
	border: 2px solid black;
	height: 90%;
	width: 90%;
	margin: 30px 60px;
}
.page-header {
	overflow: hidden;
	padding: 20px;
	border-bottom: 2px solid green;
}
.page-header h1 {
	color: blue;
	font-size: 50px;
	float: left;
	margin: 10px 0 0 0;
}
.page-header a {
	color: blue;
	float: right;
	display: block;
}

/*Homepage Icons*/

#red-logo {
	width: 60px;
	height: 60px;
	float: left;
	padding-top: 15px;
	padding-right: 10px;
}
#question-mark {
	font-size: 30px;
	color: blue;
	float: right;
	padding-top: 2px;
	padding-right: 10px;
}
#random-mix {
	font-size: 80px;
	color: blue;
}
#gamepad {
	font-size: 80px;
	color: blue;
}
.carousel-pikachu {
	text-align: center;
}
.carousel-pikachu img {
	float: center;
}
.carousel-pikachu p {
	margin-left: 460px;
}
.intro-pikachu {
	color: red;
	font-size: 30px;
	text-align: center;
	margin-top: -30px;
}
.hi-pikachu {
	color: red;
	font-size: 20px;
	text-align: center;
}
#dancingPikachu {
	width: 200px;
	height: 200px;
}
#flying-pikachu {
	width: 200px;
	height: 200px;
}
#red-hat-pikachu {
	width: 200px;
	height: 200px;
}

/*Main Page Section*/
.path {
	padding: 10px;
	overflow: block;
	color: blue;
	font-size: 30px;
	margin-top: -40px;
}
.path a:visited {
	color: inherit;
}
.path1 {
	float: left;
	padding-left: 190px;
}
.path2 {
	float: right;
	padding-right: 160px;
}


/*ABOUT PAGE */
.about-luzzles {
	margin-top: -10px; 
}
.about-luzzles p {
	text-indent: 20px;
}
.sources p {
	font-size: 15px;
}
.sources li{
	font-size: 12px;
}
.byePikachu img[alt*="byePikachu2-gif"] {
	overflow: hidden;
	width: 150px;
	/*padding-left: 450px;*/
	height: 150px;
	margin: 0 auto;
	float: right;
	margin-top: -200px;
	margin-right: 50px;
}

/*TERMS OF USE PAGE*/ 
.terms-video video{
	width: 75%;
	position: center;
	padding-left: 110px;
	margin-top: 20px; 
}

/*PRIVACY POLICY*/ 
.privacy {
	margin-top: -30px;
}
/*.privacy h3 {
	margin: 20px;
	color: red;
	font-size: 40px
}*/
.privacy p {
	text-align: center;
	font-size: 28px;
	color: green;
}
.privacy img[alt*="pikachu-gif"] {
	overflow: hidden;
	width: 200px;
	padding-left: 450px;
	height: 200px;
	margin: 0 auto;
}

/*PAR HASARD PAGE*/
#play-r-game {
	font-size: 30px;
	color: blue;
	float: center;
}

/*LANGUAGE PICKER*/
/*.countries h2 {
	color: red;
	font-size: 40px
}*/
.countries-sub {
	padding-left: 95px; 
}
.countries-group {
	float: left;
	width: 279px;
	text-align: center;
	color: blue;
}
.countries-group p {
	text-align: center;
	color: blue;
	font-size: 30px;
}
.countries-group a:visited {
	color: inherit;
}
.countries-group img[alt*="french"] {
	height: 106px;
    width: 86px;
	float: left;
/*	margin-left: 30px;*/
	padding-top: 25px;
	padding-left: 96px;
}
.countries-group img[alt*="english"] {
	height: 106px;
    width: 86px;
	float: center;
/*	margin-left: 60px;*/
	padding-top: 25px;
}
.countries-group img[alt*="arabic"] {
	height: 100px;
	width: 80px;
	float: right;
/*	margin-right: 30px;*/
	padding-top: 25px;
	padding-right: 100px;
}
.pikachu-go img {
	height: 270px;
    width: 180px;
}
.pikachu-go img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/*GAME PICKER*/ 
.games {
	overflow: hidden;
}
/*.games h2 {
	color: red;
	font-size: 40px
}*/
.games-group {
/*	float: left;*/
	padding-left: 200px;
	text-align: center;
	color: blue;
	font-size: 30px;
}
.games-group a:visited {
	color: inherit;
}
.games-group img[alt*="animals"] {
	height: 120px;
	width: 160px;
	float: left;
	margin-left: 30px;
	padding-top: 25px;
}
.games-group img[alt*="colors"] {
	height: 120px;
	width: 120px;
	float: center;
	margin-left: 60px;
	padding-top: 25px;
}
.games-group img[alt*="food"] {
	height: 100px;
	width: 190px;
	float: right;
	margin-right: 30px;
	padding-top: 25px;
}
.games-group img[alt*="travel"] {
	height: 120px;
	width: 150px;
	float: right;
	margin-right: 30px;
	padding-top: 25px;
}
.table-spacing {
	padding-right: 300px;
}

/*GAME PAGES*/
.game1 img {
	height: 50%;
	width: 40%;
	padding-left: 90px;
}
.align-title-score {
	overflow: hidden;
	display: block;
}
.align-title-score h2 {
	float: left;
}
.align-title-score p{ 
	float: right;
	padding-right: 10px;
}
.align-title-score a:visited {
	color: inherit;
}
.scorebox {
	width: 75px; 
	height: 40px;
	border: 2px dotted red;
	display: flex;
	justify-content: space-around;
	float: right;
}
.category-game {
	color: green;
	font-size: 20px;
	margin-top: -20px; 
}
.find {
	font-style: bold;
	text-align: center;
	font-size: 30px;
	margin-top: -20px;
	text-decoration: underline;
}
.picture-container {
    overflow:hidden;
    height: 60px;
}
.picture-answer {
    position: relative;
    top: -1;
    background-color: lightblue;
    z-index: 1;
}
#hiPikachu {
	height: 300px;
    width: 230px;
    margin-top: -9000px;
}
#sadPikacu {
	height: 300px;
    width: 230px;
    margin-top: -9000px;
}


/*SCOREKEEPER PAGE*/
.score-title {
	overflow: hidden;
}
.score-title h2 {
	display: block;
	float: left;
}
.score-title i{
	float: left;
}
#trophy {
	font-size: 30px;
	color: green;
	padding-top: 20px;
	padding-left: 10px;
}
.score-table p{
	text-align: center;
}
.outer {
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
}
.inner1 {
  width: 150px; 
  height: 75px;
  border: 1px solid white;
}
.inner {
  width: 150px; 
  height: 75px;
  border: 1px solid blue; 
}
/*.stretch {
  flex-grow: 1;
  flex-shrink: 0;
} */

/*FOOTER SECTION*/
.footer-nav {
	text-align: center;
	color: blue;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
}
.footer-nav a:visited {
	color: inherit;
}

.sign-off {
	font-size: 15px;
/*	text-align: center;
*/	color: blue;
}
.go-back i {
	float: right;
	font-size: 30px;
	color: blue;
	text-decoration-line: none;
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
	.page-wrap img, h1, h2, h3, h4, p{
		width: 100%;
		float: none;
	}
	.page-header h1, a, {
		width: 100%; 
		float: none;
	}
	.section-padding img, h1, h2, h3, h4, p {
		width: 100%;
		float: none;
	}
}
